@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Raleway, sans-serif; 
    /* width: 375px; */
    margin: 0;
}

nav{
    background-color: #FFC309;
    color: black;
    height: 60px;
    font-size: 1.2em;
    display:flex;
    align-items: center;
    padding-left: 20px;
}

.header {
    margin-top: 20px;
    height: 600px;
    width: 100%; 
    text-align: center;
} 

.header picture {
    margin: 0;
}
.header-image{
    position:absolute;
    width: 600px;
    left:50%;
    margin-left: -300;
    z-index: -1;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.15s ease-in-out;
}

.header:hover img{
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.15s ease-in-out;
}

.tank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tank-img-details {
 display:flex;
 flex-direction: column;
 align-items: flex-start;
}

.tank-img {
    margin: 0 0 10px;
    display:flex;
    justify-content:center;
}

.tank-img img{
    width: 100vw;
    margin-bottom: 10px;
}

.tank h2 {
    text-align: center;
    font-size: 9em;
    padding: 100px;
    opacity: 1;
    user-select: none;
    color:#FFC309;
}

.tank h3 {
    padding-left: 20px;
    font-size: 2em;
    margin: 0;
}

.collapsible{
    cursor: pointer;
}

.content {
    display:none;
}

.divider {
    background-color: #FFC309;
    height: 4px;
    margin: 40px;
    margin-top: 60px;
}

@media (min-width: 480px) {
    .content{
        display: none;
        flex-flow: row wrap;
    }

    .tank-img img {
        width: 50vw;
    }
}



